{% if page.locale == 'zh' %}{% assign profile = site.data.profile %}{% else %}{% assign profile = site.data.profile_en %}{% endif %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if profile.education %}
                    <div id="education" class="col-lg-6 section-anchor">
                        <div class="mx-2 my-1">
                            <h6 id="education-heading">{% if page.locale == 'zh' %}教育经历 <span class="section-title-en">Education</span>{% else %}Education{% endif %}</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in profile.education %}
                                <li class="media mb-1">
                                    {% if item.logo %}<img src="{{ item.logo | relative_url }}" alt="" style="width: 18px;" class="mr-1 mt-1">{% else %}<span class="timeline-dot" aria-hidden="true"></span>{% endif %}
                                    <div class="media-body">
                                        <div class="experience-primary">{{ item.name }}</div>
                                        {% if item.dept %}<div class="experience-secondary">{{ item.dept }}</div>{% endif %}
                                        <div class="experience-secondary d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="experience-date mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if profile.experience %}
                    <div id="appointments" class="col-lg-6 section-anchor">
                        <div class="mx-2 my-1">
                            <h6 id="appointments-heading">{% if page.locale == 'zh' %}工作经历 <span class="section-title-en">Appointments</span>{% else %}Appointments{% endif %}</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in profile.experience %}
                                <li class="media mb-1">
                                    {% if item.logo %}<img src="{{ item.logo | relative_url }}" alt="" style="width: 18px;" class="mr-1 mt-1">{% else %}<span class="timeline-dot" aria-hidden="true"></span>{% endif %}
                                    <div class="media-body">
                                        <div class="experience-primary">{{ item.name }}</div>
                                        {% if item.dept %}<div class="experience-secondary">{{ item.dept }}</div>{% endif %}
                                        <div class="experience-secondary d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="experience-date mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if profile.awards %}
                    <div id="honors" class="col-lg-6 section-anchor">
                        <div class="mx-2 my-1">
                            <h6 id="honors-heading">{% if page.locale == 'zh' %}荣誉与奖励 <span class="section-title-en">Honors</span>{% else %}Honors{% endif %}</h6>
                            <ul class="list pl-3 mb-1">
                                {% for item in profile.awards %}
                                <li>
                                    <div class="d-flex">
                                        <div class="experience-primary">{{ item.name }}</div>
                                        <div class="experience-date ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
