{% if page.locale == 'zh' %}{% assign profile = site.data.profile %}{% else %}{% assign profile = site.data.profile_en %}{% endif %}
<div class="mt-3 d-md-none"></div>
<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row px-3 pt-3">
                    <div class="col h3">
                        {% if page.locale == 'zh' %}个人简介 <span class="section-title-en">Profile</span>{% else %}Profile <span class="section-title-en">个人简介</span>{% endif %}
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div class="text-profile-bio mt-0" {% if profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ profile.short_bio }}
                        </div>
                        {% if profile.cv_link %}
                            <a target="_blank" rel="noopener noreferrer" href="{{ profile.cv_link | relative_url }}"><i class="fas fa-file-alt"></i> Curriculum Vitae</a> <br/>
                        {% endif %}
                    </div>
        
                </div>
            </div>
        </div>        
    </div>
</div>
